$grey: #333333;
$color-secondary: #a07a5a;
$border-color: #4d4d4d;
$light-grey: grey;

/*                    <a href="mailto:nemanja.kuslja@gmail.com" target="_blank">nemanja.kuslja@gmail.com</a>
                    <a href="http://www.linkedin.com/in/nemanja-kusljic" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/NemanjaKusljic" target="_blank"><i class="fab fa-github"></i></a>
                    */